$black:black;
$white:white;
$greyShadow:#CCCCCC;
$darkcyan:darkcyan;
$darkgray:#00000094;
$darkcolor:#000000DE;
$darkcolor2:#1E3932;
$lightcolor:#F9F9F9;
$lightcolor2:#FFFFFFB2;
$lightcolor3: #FFFFFF;
$lightcolor4:#f2f0eb;
$lightcolor5:#edebe9;
$midgreen:#00754A;
$green:green;
$ceramic:#CBA258;